:root {
  --bg-color: var(--ctp-latte-base);
  --link-focus: var(--ctp-latte-rosewater);
  --text: var(--ctp-latte-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--ctp-mocha-base);
    --link-focus: var(--ctp-mocha-rosewater);
    --text: var(--ctp-mocha-text);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1rem 1.5rem;
  color: var(--text);
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  transition: color 250ms, fill 250ms;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  margin: 0.5em 0;
  line-height: 0.9em;
}

a {
  position: relative;
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 0.75em;

  color: var(--text);
  fill: currentColor;
  outline-offset: 0.25em;
  text-decoration: none;
  transition: color 250ms, fill 250ms;
}
a:hover,
a:focus {
  color: var(--link-focus);
}
a:focus {
  outline: 2px solid currentColor;
}
a:focus:not(:focus-visible) {
  outline: none;
}
a:active {
  opacity: 0.7;
}

a svg {
  --size: 1.75rem;
  display: inline-block;
  height: var(--size);
  width: var(--size);
}

a.github {
  --link-focus: var(--ctp-latte-mauve);
}

a.linkedin {
  --link-focus: var(--ctp-latte-blue);
}

a.instagram {
  --link-focus: var(--ctp-latte-yellow);
}

a.printables {
  --link-focus: var(--ctp-latte-peach);
}

a.youtube {
  --link-focus: var(--ctp-latte-red);
}

a.makerworld {
  --link-focus: var(--ctp-latte-green);
}

@media (prefers-color-scheme: dark) {
  a.github {
    --link-focus: var(--ctp-mocha-mauve);
  }

  a.linkedin {
    --link-focus: var(--ctp-mocha-blue);
  }

  a.instagram {
    --link-focus: var(--ctp-mocha-yellow);
  }

  a.printables {
    --link-focus: var(--ctp-mocha-peach);
  }

  a.youtube {
    --link-focus: var(--ctp-mocha-red);
  }

  a.makerworld {
    --link-focus: var(--ctp-mocha-green);
  }
}
